<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="uxlAssignment">
	<test thread-count="1" name="Amazon Test">
		<parameter name="Browser" value="chrome" />
		<parameter name="URL" value="https://www.amazon.eg/" />
		<parameter name="Category" value="الإلكترونيات" />
		<parameter name="Keyword" value="electronic gadgets" />
		<classes>
			<class name="uxlTests.testCases" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
